body {
    background-color: $color-two;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_index {
    width: $width-content;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .main_index_content {
        width: $width-content;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        align-items: center;
        flex-direction: column;

        .box_img {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;
    
            img {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                box-shadow: 5px 5px 10px;
                border: 2px $color-four solid;
                margin: 10px;
            }
        }

        h1 {
            margin-bottom: 10px;
        }

        h2 {
            margin-bottom: 40px;
        }

        p {
            font-size: 1.3em;
            width: 80%;
            margin-bottom: 20px;
            text-align: center;
        }
    }
}