.box_facebook {
    position: fixed;
    bottom: 6%;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    a {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100px;

            &:hover {
                width: 140px;
                transition-duration: .5s;
            }
        }
    }
}